.toolbar-spacer {
  flex: 1 1 auto;
}

.brand {
  text-decoration: none;
  color: inherit;
}

.nav-links > a:first-child {
  margin-left: 0;
}

.nav-links a {
  margin-left: 14px;
  text-decoration: none;
  color: inherit;
}

.nav-links .nav-link:hover {
  border-bottom: #fff solid 2px;
}

.active {
  border-bottom: #fff solid 2px;
}

.navbar {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}