<div class="hero-container">
    <div class="hero-text-container">
        <h1 class="hero-title"></h1>
    </div>
    <div class="hero-image"></div>
    <div class="overlay"></div>
</div>
<section class="content">
    <h1 class="mat-h1" style="font-size:2.6em; font-weight: 500;">Meet the Team</h1>
    <p>We're a team of software engineers from Revature.</p>
    <section class="flex-container">
        <div class="wrapper" *ngFor="let member of members">
            <div class="image-container">
                <img [src]="member.photo" class="image" alt="Member photo">
            </div>
            <div style="text-align: center;">
                <h2 class="mat-h2">{{member.name}}</h2>
                <p>{{member.job}}</p>
            </div>
        </div>
    </section>
</section>