/* Container */
.sidenav-container {
  height: 100%;
}

/* Sidenav */
.sidenav {
  width: 200px
}

.sidenav .mat-toolbar {
  background: inherit;
}

/* Sidenav Content */

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  flex-grow: 1;
  position: relative;
}

app-navbar {
  position: sticky;
  top: 0;
  z-index: 99;
}