
  mat-card img{
    object-fit: cover;
    height: 25vh;
    }
  
  .card-content {
    text-align: center;
  }

  a:link {
    text-decoration: none;
    color: initial;
}

a:visited {
    text-decoration: none;
    color: initial;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}